
@{
    ViewData["Title"] = "Manager";
}
<h1>@ViewData["Title"]</h1>
<h2>Manager</h2>
<h3>@ViewData["Message"]</h3>

//Create or find role controller
//Assign one of our users a role
//lock an action to only managers
//Finish the manager View
